<!DOCTYPE html>
<body background="fondo1.jpg">
    <meta charset="UTF-8">
    <title>ALTA CHOFER</title>
    <head><h1><center>Alta Choferes</center></h1></head>
    <center>
 <form>
    <h5>Clave:</h5><input type="" id="idchof" name="choferes" required=""/>
    <br>
    <h5>Nombre:</h5> <input type="text" id="nombre" name="nombre" required=""/>
    <br>
<!-- 
    Apellido Paterno:
    <br>
    Apellido Materno:
    <br>
 -->
    <h5>Edad:</h5><input type="number" max="65" min="18" id="edad" name="Edad" required=""/>
    <br>
    <!--Relizar comob hacia la base de datos-->
    <h5>Municipio:</h5> <input type=""/>
    <!--Termina el combo-->
    <h5>Núm de Liciencia:</h5> <input type="text" id="numl" required=""/>
          <br>

    <h5>Destino:</h5>
    <!--Se colocan como ejemplos posteriormente se camiara a valores correcos-->
    <select required="">
        <option value="1">            </option>
        <option value="1">San Matracas</option>
        <option value="2">Lerma</option>
        <option value="3">Ocoyocac</option>
        <option value="4">Santiago</option>
        <option value="5">Toluca</option>
        <option value="6">Metepéc</option>
    </select> 
    <br>
    <br>
    <h5>Núm de Vale:</h5> <input type="text" id="numv" name="numvale" required=""/>
    <br>
    <br>
    <input type="submit" value="Registrar"> <input type="reset" value="Borrar">
</form>
</center>
</body>
</html>