<!DOCTYPE html>
<body bgcolor="DimGray"> 
<meta charset="UTF-8">

<title>Productos</title> 
<head><h2>Productos Alta</h2></head>

<br>
<br>
<Form>
    
    <center>
<h3>Clave</h3> <Input type="" id="idp" name="producto" required=""/>        
<h3>Productos:<h3> <Input type="text" id="idp"  required="">
<br>
<br>
<!--En esta parte va el combo de base de  datos-->
<label for="idti"></label>
<h3>Tipo:</h3> <input type="text" id="idti" name="tipo" required=""/>
<!--Temirna el codigo de Tipo-->
<br>
<br>
<h3>Costo:</h3><Input type="number" id="cos" name="Costo" required="required"> 
    <label for="cos"></label>
<br>
<br>
<h3>Unidad:</h3>  
<select required="">
    <option value>   </option>
    <option value="1">kgr</option>
    <option value="2">lbr</option>
    <option value="3">gr</option>
</select>
<br>
<br>
<input type="submit" value="Registrar"> <input type="reset" value="Borrar">

</table>
</Form>
</body>
</html>
